body{
  margin: 0;
  text-align:center;
}
.div1{
  background-color: aliceblue;
  position:relative;
  padding-top:100px;
}
h1{
  color:#11999e;
  font-family: 'Xanh Mono', monospace;
  font-size:50px;
}
h2{
  color: rgb(218, 77, 77);
  font-family: 'Sail', cursive;
  font-size:50px;
  font-weight:40;
}
.cloud1{
  position: absolute;
  right: 300px;
  top: 50px;
}
.cloud2{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.div2{
  margin: 50px auto 50px auto;
}
hr{
  border-top: 6px dotted rgb(127, 130, 131);
  width:4%;
  border-bottom: none;
  margin-top:40px;
}
.photo{
  border-radius:100%;
  width:15%
}

.div3{
  width:50%;
  text-align:left;
  margin: 10px auto 50px auto;
}
.div6{
  margin-top:100px;
}

.computer{
  width:20%;
  float:left;
  margin-right:30px;
}
.chillies{
  width:20%;
  float:right;
  margin-left:30px;
  
}

.get{
  font-family: 'Sail', cursive;
  color:darkmagenta;
}
h4{
  font-family: 'Arima', cursive;
  color:darkblue;
  font-size:30px;
}

.btn{
  background: blue;
  background-image: -webkit-linear-gradient(top,blue,skyblue);
  background-image: -moz-linear-gradient(top,blue,skyblue);
  background-image: -ms-linear-gradient (top,blue,skyblue);
  background-image: -o-linear-gradient (top,blue,skyblue);
  background-image: linear-gradient (to bottom,blue,skyblue);
  -webkit-border-radius:8;
  -moz-border-radius:8;
  border-radius:50px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 2, 128);
  font-size: 20px;
  
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 50px auto 50px auto;
  }
 

.div5{
  background-color:rgb(233, 165, 202);
  padding: 50px 0 20px;
  }

  a:hover{
    color: rgb(90, 102, 68);
  }
  

